body{
	margin: 0;
	font-size: 18px;
	line-height: 25px;
}
header{
	background-color: pink;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 15px;
}
h2{ font-size: 30px;
}
h1, h2{
	font-family: 'Sigmar One', cursive;
	color: #86264e;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
header h1{
	text-align: center;
	font-size: 70px;
	padding-top: 20px;
}

main{ 
	max-width: 800px;
	margin: 0 auto; 
	background-color: lightgrey;
	padding: 0 40px 20px 40px;

}
main img{
	max-width: 100%;
	padding-top: 20px;
}
main p{margin: 0;
}
main ol, ul{margin: 0;
line-height: 35px;}
a{ color: #86264e; }
a:hover{
	color: grey; }

footer{color: #86264e; 
text-align: center;
background-color: pink;
padding-top: 20px;
padding-bottom: 20px;
}

p.caption{color: grey;
	font-style: italic;
	text-align: right;
	font-size: 18px;
}

ul{font-family: 'Anton', sans-serif;
color: #86264e;
}

h3{margin: 0;}

